<h1>These are all our restaurants!</h1>
<%= link_to 'add a new restaurant!', new_restaurant_path %>
<ul>
  <% @restaurants.each do |restaurant| %>
    <li>
      <%= link_to restaurant.name, restaurant_path(restaurant) %>
      <%= restaurant.address %>
      <%= restaurant.rating %>
      <%= restaurant.opening_hours %>
    </li>
  <% end %>
</ul>